<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,76}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>p_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{58,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{58,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,75}}</string>
                <key>sourceSize</key>
                <string>{60,81}</string>
            </dict>
            <key>stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{58,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,72}}</string>
                <key>sourceSize</key>
                <string>{62,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_plist.png</string>
            <key>size</key>
            <string>{62,307}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5465f950eaedd604ace9781dc571b95d:ef9c7156431428f38a2f9e1e9df4da14:80cb194ef5327162e231871eccea6be9$</string>
            <key>textureFileName</key>
            <string>p_plist.png</string>
        </dict>
    </dict>
</plist>
